# Prerequisites
# - https://github.com/so-fancy/diff-so-fancy

[init]

    defaultBranch = main

[include]

    path = ~/.gitconfig.user

[core]

    excludesfile = ~/.gitignore
    editor = vim

[alias]

    # Clone 
    c = clone --recursive             # clone a repository including all submodules

    # add
    a = add                           # add

    # branch
    b = branch -v                     # branch (verbose)

    # commit
    c = commit -m                     # commit with message
    amend = commit --amend            # ammend your last commit

    # checkout
    co = checkout                     # checkout
    nb = checkout -b                  # create and switch to a new branch (mnemonic: "git new branch branchname...")

    # pull
    pl = pull --recurse-submodules    # pull in remote changes for the current repository and all its submodules

    # push
    ps = push                         # push

    # remote
    r = remote -v                     # show remotes (verbose)

    # status
    s = status -s                     # status

    # Remove branches that have already been merged with master
    # a.k.a. 'delete merged'
    dm = !git branch --merged | grep -vE '^\\*|main$|master$|develop$' | xargs -I % git branch -d %

[apply]

    # Detect whitespace errors when applying a patch.
    whitespace = fix

[branch]

    # Show most recently changed branches first.
    sort = -committerdate

[color]

    # Use colors in Git commands that are capable of colored output when
    # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
    ui = auto

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "diff-highlight"]

    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[diff-so-fancy]

    stripLeadingSymbols = false

[pager]

    log  = diff-so-fancy | less --tabs=4 -RFX
    show = diff-so-fancy | less --tabs=4 -RFX
    diff = diff-so-fancy | less --tabs=4 -RFX

[help]

    # Automatically correct and execute mistyped commands.
    autocorrect = 1
