# EditorConfig
# https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Newlines ending every file, Unix-style
end_of_line = lf
insert_final_newline = true
# Remove white space at the end of a line
trim_trailing_whitespace = true

[*.fish]
# https://github.com/fish-shell/fish-shell/blob/master/.editorconfig
indent_size  = 4
indent_style = space
