[include]

    path = ~/.gitconfig.user
    path = ~/.gitconfig.alias

    # Sign Git commits with SSH
    # https://developer.1password.com/docs/ssh/git-commit-signing/
    path = ~/.gitconfig.signing

    # git-delta custom themes
    # https://dandavison.github.io/delta/custom-themes.html
    path = ~/.gitconfig.delta

[init]

    defaultBranch = main

[apply]

	# Detect whitespace errors when applying a patch.
	whitespace = fix

[branch]

	# Show most recently changed branches first.
	sort = -committerdate

[core]

    # Use custom `.gitignore`
    excludesfile = ~/.gitignore.global

    # Use custom `.gitattributes`
    # More info: https://www.scivision.dev/git-global-gitattributes/
    attributesfile = ~/.gitattributes.global

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

    # Make `git rebase` safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    trustctime = false

    # Editor
    editor = vim

    # Pager
    pager = delta

[color]

    # Use colors in Git commands that are capable of colored output when
    # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
    ui = auto

[color "branch"]

    current = yellow reverse
    local   = yellow
    remote  = green

[color "status"]

    added     = yellow
    changed   = green
    untracked = cyan

[diff]

    # Detect copies as well as renames
    renames = copies
    compactionHeuristic = true

[diff "bin"]

    # Use `hexdump` to diff binary files
    textconv = hexdump -v -C

[help]

    # Automatically correct and execute mistyped commands.
    autocorrect = 1

[push]

    # https://git-scm.com/docs/git-config#git-config-pushdefault
	default = current

    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true


[interactive]

    diffFilter   = delta --color-only

[color "diff-highlight"]

    oldNormal    = red bold
    oldHighlight = red bold 52
    newNormal    = green bold
    newHighlight = green bold 22

[color "diff"]

    meta         = 11
    frag         = magenta bold
    func         = 146 bold
    commit       = yellow bold
    old          = red bold
    new          = green bold
    whitespace   = red reverse


# URL shorthands
[url "git@github.com:"]

    insteadOf     = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

    insteadOf     = "github:"

[url "git@gist.github.com:"]

    insteadOf     = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

    insteadOf     = "gist:"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
	rebase = false

[filter "jupyternotebook"]
	clean = jupyter nbconvert --to notebook --ClearOutputPreprocessor.enabled=True --stdout %f
	smudge = cat
	required = true
