# Supply chain attack mitigation: delay installing newly published packages.
# 7-day cooldown blocks ~80% of attacks (8/10 in Woodruff's analysis had
# windows < 7 days). 14 days would block ~90%, but delays security patches.
# See: https://blog.yossarian.net/2025/11/21/We-should-all-be-using-dependency-cooldowns
min-release-age=7
